.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vw/(320/205));
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    transition: opacity ease-in-out .2s;
}

.cover::before {
    content: "";
    display: block;
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.cover:hover::before {
    opacity: 0.8;
}

@media screen and (min-width: 1024px) {
    .cover {
        height: calc(100vw/(320/200));
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1180px;
        height: 740px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .cover::before {
        max-width: 1180px;
        height: 740px;
    }
}